
{% extends "layout.html" %}
{% import xml.etree.ElementTree as ET %}

{% block content %}
    <div class="gameContainer">
        <div class="lettersField">
            <h3>letters Chosen: </h3>
            <p>test</p>
        </div>
        <div id="lettersContainer">
                {% for letter in l %}
                    <div class="letterBox">
                    <h1>
                        {{ letter[0] }}
                    </h1>
                        {%   if letter[0] != ' ' %}
                        <p>
                            {{ letter[1] }}
                        </p>
                        {% endif %}
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock content %}

