<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
    <script src="{{url_for('static', filename='scripts.js')}}"></script>

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Python Project/</title>
    {% endif %}
</head>
<body>
    <div id="container">
        {%  block content %}{% endblock %}
    </div>


</body>
</html>