
{% extends "layout.html" %}

{% block content %}
    <div class="gameContainer">
        <div class="box1">
            <div class="scoreBoard">
                {% if score %}
                    <script type="text/javascript">
                        printScore({{ score }}, document.URL);
                    </script>

                {% endif %}
                <table class="gameScore" style="width: 100%; text-align: center">
                  <tr>
                    <th>Player1</th>
                    <th>Player2</th>
                  </tr>
                  <tr>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </table>
                <ul class="gameWords" style="margin: 25px">
                    <li>empty</li>
                </ul>
            </div>
            <h3>letters Chosen: </h3>
            <!-- Testing -->
            <h3 style="font-weight: bold">Output</h3>
            <span style="float:left" class="output">0, ""</span>
            <br />
            <p>{{word}}</p>
            <p>{{wordScore}}</p>
            <!-- Testing -->
            <div class="gameBoard">

            </div>
        </div>
        <div class="box2">
            <div id="lettersContainer">
                {% for letter in l %}
                        <div class="letterBox">
                        <h1>
                            {{ letter[0] }}
                        </h1>
                            {%   if letter[0] != ' ' %}
                            <p>
                                {{ letter[1] }}
                            </p>
                            {% endif %}
                        </div>
                {% endfor %}
            </div>
        </div>
        <a id="submit"  href="{{hre}}">Submit</a>
    </div>
{% endblock content %}

